<div class="header">
  <img class="logo" src="assets/logos/horizontal-logo.png" alt="Logo">
  <button (click)="homeButton()">Home</button>
  <button (click)="joinTravelButton()">Join Travel</button>
  <button (click)="aboutUsButton()">About Us</button>
  <button *ngIf="loginButton" (click)="loginClick()">Login</button>
  <button *ngIf="!loginButton" (click)="accountClick()">Account</button>
  <div *ngIf="!loginButton" class="userDetails">
    <div class="userName">{{ userInfo?.name }}</div>
    <div><img class="profilePic" src="{{ userInfo?.picture }}"></div>
  </div>
  <img *ngIf="flagUrl" [src]="flagUrl" alt="Country flag">
</div>
