.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #3C3D42;
  position: sticky;
  margin-top: 0.75%;
}

.logo {
  margin-left: 1%;
  width: auto;
  height: 50px;
}


.profilePic {
  width: 30px;
  height: 30px;
  border-radius: 30%;
  margin-left: 3%;
}

.userDetails {
  color: whitesmoke;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 3%;
}
