.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #3C3D42;
  position: sticky;
  margin-top: 0.75%;
}

button {
  margin: 0 10px 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
}

button:hover {
  background-color: #0088ff;
  transform: scale(1.075);
  transition: transform 0.4s ease;
}

.profilePic{
  width: 30px;
  height: 30px;
  border-radius: 30%;
  margin-left: 3%;
}

.userDetails {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 3%;
}
