.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #3C3D42;
  position: sticky;
  margin-top: 0.75%;
}

.logo {
  width: auto;
  height: 20px;
  margin-left: 0.3%;
  margin-right: 0.3%;
}

.profilePic {
  width: 30px;
  height: 30px;
  border-radius: 30%;
  margin-left: 3%;
}

.userDetails {
  color: whitesmoke;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 3%;
}

@media (max-width: 600px) {
  .header {
    justify-content: center;
  }

  .logo {
    display: none;
  }

  button {
    padding: 8px 10px;
    font-size: 0.8rem;
    margin-bottom: 5px;
  }

  .profilePic {
    width: 25px;
    height: 25px;
  }

  .userDetails {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 2%;
    margin-top: 1.33%;
  }

  .userName {
    display: none;
  }

  .userDetails div {
    margin-bottom: 5px;
  }

  .flag {
    width: 25px;
    height: 15px;
    margin-left: 0;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .logo {
    height: 25px;
  }

  button {
    padding: 9px 12px;
    font-size: 0.9rem;
  }

  .profilePic {
    width: 28px;
    height: 28px;
  }

  .userDetails {
    margin-left: auto;
    margin-right: 2%;
  }

  .flag {
    width: 28px;
    height: 18px;
  }
}

@media (min-width: 1025px) {
  .header {
    padding: 0 2%;
  }

  .logo {
    height: 30px;
  }

  button {
    padding: 10px 15px;
    font-size: 1rem;
  }

  .profilePic {
    width: 30px;
    height: 30px;
  }

  .userDetails {
    margin-left: auto;
    margin-right: 3%;
  }

  .flag {
    width: 30px;
    height: 20px;
  }
}
