/* Flex container for the entire content */
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Styles for form container */
.form-container {
  display: flex;
  flex-direction: column;
  width: 70%; /* Take up 70% of the container width */
}

/* Styles for right container (plane image and random image) */
.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%; /* Take up 30% of the container width */
}

/* Styles for form group */
.form-group {
  margin-bottom: 20px;
}

/* Styles for input fields with specific widths */
.form-group.small input[type="text"],
.form-group.small input[type="date"] {
  width: 50%;
}

.form-group.medium input[type="text"],
.form-group.medium input[type="date"] {
  width: 75%;
}

.form-group.large textarea {
  width: 100%;
}

/* General styles for input fields */
input[type="text"],
input[type="date"],
textarea {
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3); /* Soft light white background */
  border-bottom: 2px solid transparent; /* Initially transparent border */
  transition: border-bottom-color 0.3s; /* Smooth transition for border color */
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus {
  outline: none;
  border-bottom-color: #3746ac; /* Border color on focus */
}

/* Styles for labels */
label {
  color: #3746ac; /* Label color */
  font-weight: bold;
}

/* Styles for plane image */
.plane-image {
  background-image: url('/assets/plane.svg');
  background-size: cover;
  width: 100%; /* Adjust width as necessary */
  height: 200px; /* Adjust height as necessary */
  margin-bottom: 20px;
}

/* Styles for random image */
.image-container {
  width: 100%; /* Adjust width as necessary */
  height: 200px; /* Adjust height as necessary */
  background-size: cover;
  background-position: bottom;
}
