.title1{
  font-size: 10.5rem;
  font-weight: bold;
  color: #000000;
  margin-left: 3%;
}

.title2{
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
  margin-left: 3%;
}

.spaceDivider{
  margin-top: 4%;
  margin-bottom: 4%;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  margin-bottom: 12%;
  margin-top: 7%;
}


.button {
  background-color: #000;
  color: #fff;
  border: 2px solid transparent;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 0.8%;
  margin-right: 0.8%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button:hover {
  background-color: #0088ff;
  color: #000;
  border: 2px solid #000;
}

.image {
  margin-top: 2%;
  margin-left: 4%;
  height: 50vh;
  width: 100%;
  background-image: url("/assets/travel2.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.content-container {
  display: flex;
  align-items: center;
}

.text-container {
  margin-right: 20px;
}
