<div class="trip-info">
  <div *ngIf="tripInfo; else loading">
    <h1>Trip Details: {{ tripInfo.name }}</h1>
    <div><strong>Location:</strong> {{ tripInfo.location }}</div>
    <div><strong>Date:</strong> {{ tripInfo.date | date }}</div> <!-- Using date pipe for formatting -->
    <div><strong>Description:</strong> {{ tripInfo.description }}</div>
    <div><strong>Participants:</strong> {{ tripInfo.peopleJoined }}</div>
  </div>
  <ng-template #loading>
    <p>Loading trip details...</p>
  </ng-template>
</div>
<div class="pinboard">
  <!-- Placeholder for dynamic pins -->
</div>

<img class="profilePic" src="{{ userInfo?.picture }}">
<div class="user-info">
  <div class="text name">Signed In As: {{ userInfo?.name }}</div>
</div>

<div class="chat-container">
  <div class="chat-messages">
    <div *ngFor="let message of messages">
      <div [class]="message.fromUser ? 'message-entry user-message' : 'message-entry other-message'">
        <!-- Assuming profile pictures are only shown for the user -->
        <div class="message-content">
          <div class="message-text">{{ message.text }}</div>
        </div>
      </div>
    </div>
  </div>
  <input type="text" [(ngModel)]="messageContent" placeholder="Type your message..." class="chat-input">
  <button (click)="sendMessage()" class="chat-send-button">Send</button>
</div>

<button class="button">Join Trip</button>
