.button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.spaceDivider {
  margin-top: 40%;
  margin-bottom: 40%;
}

.middleCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title2 {
  font-size: 3rem;
  font-weight: bold;
  color: #000;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 36.5%;
}

input[type="text"] {
  padding: 8px 16px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.balloon-background {
  position: absolute;
  top: 20%;
  right: 82%;
  width: 320px;
  height: 320px;
  background: url('/assets/baloon.svg') center/cover no-repeat;
  z-index: 0;
}
