<app-heropage></app-heropage>

<div class="title3">{{ 'JOIN_PUBLIC_TRIPS' | translate }}</div>
<div class="grid-container">
  <div class="card" *ngFor="let trip of trips">
    <h2>{{ trip.name }}</h2>
    <p>{{ trip.description }}</p>
    <p><strong>{{ 'TRIP_LOCATION' | translate }}:</strong> {{ trip.location }}</p>
    <p><strong>{{ 'START_DATE' | translate }}:</strong> {{ trip.date }}</p>
    <button class="open-btn" (click)="clickOpenTrip(trip.id)">{{ 'OPEN' | translate }}</button>
  </div>
</div>
