.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 20px;
  color: #000;
}

.card {
  background-color: #f0f0f0;
  border: 2px solid #000;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.open-btn {
  background-color: #000;
  color: #fff;
  border: 2px solid transparent;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.open-btn:hover {
  background-color: #0088ff;
  color: #000;
  border: 2px solid #000;
}

.title1{
  font-size: 8rem;
  font-weight: bold;
  color: #000000;
  margin-left: 3%;
}

.title2{
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
  margin-left: 3%;
}

.title3 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #000000;
  margin-left: 3%;
}

.spaceDivider{
  margin-top: 5%;
  margin-bottom: 5%;
}
