<div class="travelship-container">
  <div class="text-content">
    <h1>{{ 'ABOUT_TITLE' | translate }}</h1>
    <p>{{ 'ABOUT_DESC' | translate }}</p>

    <h2>{{ 'ABOUT_FEATURES_TITLE' | translate }}</h2>
    <ul>
      <li>{{ 'ABOUT_FEATURE_1' | translate }}</li>
      <li>{{ 'ABOUT_FEATURE_2' | translate }}</li>
      <li>{{ 'ABOUT_FEATURE_3' | translate }}</li>
      <li>{{ 'ABOUT_FEATURE_4' | translate }}</li>
    </ul>

    <p>{{ 'ABOUT_COMMUNITY_DESC' | translate }}</p>
  </div>
  <div class="image-content">
    <img class="image" src="/assets/campfire.svg">
  </div>
</div>
