.travelship-container {
  margin-top: 2%;
  font-family: Arial, sans-serif;
  color: whitesmoke;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 18.5%;
  font-size: 1.5em;
}

.text-content {
  flex: 1;
  padding-right: 50px;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  max-width: 400px;
}

h1, h2 {
  color: #5E54E7;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  border-left: 3px #5E54E7;
}

@media (max-width: 600px) {
  .travelship-container {
    flex-direction: column;
    text-align: center;
  }

  .text-content, .image-content {
    padding: 10px;
    flex: 1 1 auto;
  }

  .text-content {
    padding-right: 0;
  }

  .image-content {
    margin-top: 20px;
  }

  .travelship-container {
    font-size: 1.2em;
  }

  .image {
    max-width: 300px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .travelship-container {
    padding: 15px;
  }

  .text-content {
    padding-right: 30px;
  }

  .travelship-container {
    font-size: 1.4em;
  }

  .image {
    max-width: 350px;
  }
}

@media (min-width: 1025px) {
  .travelship-container {
    padding: 20px;
  }

  .text-content {
    padding-right: 50px;
  }

  .travelship-container {
    font-size: 1.5em;
  }

  .image {
    max-width: 400px;
  }
}
