html, body {
  background-color: lightgrey;
  height: 100%;
  width: 100%;
  z-index: 0;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

.bgImage {
  background-image: url("/assets/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.custom-shape-divider-top-1713708173 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1713708173 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 270px;
}

.custom-shape-divider-top-1713708173 .shape-fill {
  fill: #FFFFFF;
}

/* Targets the scrollbar itself */
::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

/* Targets the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
  border: 3px solid whitesmoke; /* creates a border around the scroll thumb */
}

/* Targets the track (part that the thumb drags within) */
::-webkit-scrollbar-track {
  background: whitesmoke; /* color of the track */
  border-radius: 6px; /* roundness of the track */
  box-shadow: inset 0 0 0px grey; /* adds shadow to the track */
}

/* Targets the track when the window is inactive (optional) */
::-webkit-scrollbar-track-piece:window-inactive {
  background: lightgray;
}
