.title1{
  font-size: 8rem;
  font-weight: bold;
  color: #000000;
  margin-left: 3%;
}

.title2{
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
  margin-left: 3%;
}

.spaceDivider{
  margin-top: 6.5%;
  margin-bottom: 6.5%;
}

.buttonContainer{
  display: flex;
  justify-content: center;
}


.button {
  background-color: #000;
  color: #fff;
  border: 2px solid transparent;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 0.8%;
  margin-right: 0.8%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.worldImage {
  width: 35%;
  margin-left: 22%;
  margin-top: 2%;
  height: 47vh;
  background-image: url("/assets/world.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.content-container {
  display: flex;
  align-items: center;
}

.text-container {
  margin-right: 20px;
}
