<div class="spaceDivider"></div>

<div class="content-container">
  <div class="text-container">
    <div class="title1">Travelship</div>
    <div class="title2">your travel buddy.</div>
  </div>
  <div class="worldImage"></div>
</div>

<div class="spaceDivider"></div>

<div class="buttonContainer">
  <button class="button" (click)="scrollToPublicTrips()">View Public Trips</button>
  <button class="button">Join a Private Trip</button>
  <button class="button">Plan a Trip</button>
</div>

<div class="spaceDivider"></div>
<div #publicTrips></div>
