.button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 0.8%;
  margin-right: 0.8%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.spaceDivider {
  margin-top: 13.5%;
  margin-bottom: 13.5%;
  position: relative; /* Ensures that the background can be positioned relative to this container */
}

.middleCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title2 {
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
  background-size: contain; /* Ensures the background image fits well in the div */
}

.form-container {
  width: 100%; /* Gives full width to align children centrally */
  display: flex;
  justify-content: center;
  gap: 10px; /* Provides a gap between the input field and the button */
}

input[type="text"] {
  padding: 8px 16px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px; /* Adds a slight radius to the corners of the input box */
}

.balloon-background {
  position: absolute;
  top: 20%; /* Adjusts the vertical position */
  right: 82%; /* Adjusts the horizontal position */
  width: 320px; /* Width of the balloon image */
  height: 320px; /* Height of the balloon image */
  background-image: url('/assets/baloon.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Ensures the balloon appears behind other content if necessary */
}
