<div class="trip-info">
  <div *ngIf="tripInfo; else loading">
    <h1>Trip Details: {{ tripInfo.name }}</h1>
    <div><strong>Location:</strong> {{ tripInfo.location }}</div>
    <div><strong>Date:</strong> {{ tripInfo.date | date }}</div> <!-- Using date pipe for formatting -->
    <div><strong>Description:</strong> {{ tripInfo.description }}</div>
    <div><strong>Participants:</strong> {{ tripInfo.peopleJoined }}</div>
  </div>
  <ng-template #loading>
    <p>Loading trip details...</p>
  </ng-template>
</div>

<div class="controls">

  <select [(ngModel)]="selectedOption">
    <option *ngFor="let option of pinOptions" [value]="option">
      {{ option }}
    </option>
  </select>
  <p>You selected: {{ selectedOption }}</p>
</div>

<div class="pinboard" #pinboard>
  <div *ngFor="let pin of pins"
       class="pin"
       [style.top]="pin.y + 'px'"
       [style.left]="pin.x + 'px'"
       (mousedown)="onDragStart($event, pin)">
    <h3>{{ pin.title }}</h3> <p>{{pin.id}}</p>
    <p>{{ pin.description }}</p>
    <button class="button" (click)="onButtonClick(pin)">Click Me</button>
    <span class="close" (click)="removePin(pin)">&times;</span>
  </div>
</div>
<button (click)="addPin()">Add Pin</button>


<div class="chat-container"> Room Chat
  <div class="chat-messages">
    <!-- Using Angular's trackBy function for better performance -->
    <div *ngFor="let message of messages; trackBy: trackById" [ngClass]="{'user-message': message.fromUser, 'other-message': !message.fromUser}" class="message-entry">
      <div class="message-content">
        <img *ngIf="message.flagUrl" [src]="message.flagUrl" alt="Country flag">
        <strong>{{ message.username }}:</strong>
        <span class="message-text">{{ message.text }}</span>
      </div>
    </div>
  </div>
  <input type="text" [(ngModel)]="messageContent" placeholder="Type your message..." class="chat-input">
  <button (click)="sendMessage()" class="chat-send-button">Send</button>
</div>

<button class="button">Join Trip</button>
