.footer {
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: 10px 0;
  text-align: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.text-muted {
  color: #6c757d;
}
